header {
    background-color: var(--primaryColor);
}


main#apartments > section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

main#apartments > section > div.ap {
    width: 48%;
    margin: 2rem 0;
}

main#apartments>section>div.ap > img {
    width: 100%;
    aspect-ratio: 16/9;
}


main#apartments>section>div.ap > h3 {
    margin: 1rem 0 0.5rem;
}

main#apartments>section>div.ap>p {
    margin: 0.5rem 0;
    line-height: 160%;
}

main#apartments > section > div.ap > div.col3 {
    column-count: 3;
    column-gap: 5%;
    column-rule-width: 1px;
    column-rule-color: var(--primaryLightColor);
    column-rule-style: dotted;
}

main#apartments > section > div.ap > div.col3 > p {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1600px) {
    main#apartments > section > div.ap {
        padding: 0 1%;
    }
}

@media screen and (max-width: 900px) {
    main#apartments > section > div.ap {
        width: 100%;
    }
}

