/* slider start */
div.slider {
    --sliderWidth: 100%;
    aspect-ratio: 16/9;
    width: var(--sliderWidth);
    position: relative;
}
div.slider > div.arrows {
    position: absolute;
    left: 0px;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    filter: invert(100%);
}
div.slider > div.arrows > img {
    width: 50px;
    cursor: pointer;
}
div.slider > div.scroller {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
div.slider > div.scroller > div.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    width: fit-content;
}

div.slider > div.scroller > div.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* slider end */